.shootout-title {
  color: white;
  text-align: center;
  font-size: 48px;
}
.shootout-underline {
  width: 100px;
  height: 5px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}
.shootout-heading {
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 36px;
}
.shootout-video-container {
  display: flex;
  justify-content: center;
}
#shootout-video {
  max-width: 80%;
}

@media screen and (max-width: 480px) {
  #shootout-video {
    max-width: 98%;
  }
}
