.shootout-title {
  color: white;
  text-align: center;
  font-size: 48px;
}
.shootout-underline {
  width: 60px;
  height: 4px;
  margin-top: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8rem;
  background-color: white;
}
.shootout-header {
  color: white;
  text-align: center;
  font-size: 36px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.shootout-video-container {
  display: flex;
  justify-content: center;
}
#shootoutGameVideo {
  max-width: 80%;
}
.shootout-spacer {
  margin-top: 4rem;
}
