.Resume-title {
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
  color: white;
}
.Resume-underline {
  width: 5rem;
  height: 0.25rem;
  background-color: rgb(0, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5rem;
}

.Resume-subContainer {
  display: flex;
}
.Resume-button-container {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  margin: 0 2rem;
}
.Resume-button-heading {
  margin-bottom: 0.3rem;
  text-align: center;
  color: white;
}
.Resume-job-button {
  background: none;
  border: none;
  cursor: pointer;
  letter-spacing: 0.1rem;
  width: 20rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.5rem 0;
  color: white;
}
.Resume-active {
  border-left: 4px solid rgb(0, 255, 255);
  padding-left: 0.5rem;
}

.Resume-job-container {
  margin: 0 2rem;
}
.Resume-job-container h1 {
  margin: 0;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  line-height: 1.5;
  color: white;
}
.Resume-job-container h2 {
  margin: 0;
  margin-bottom: 1rem;
  color: white;
}
.Resume-job-description {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
}
.Resume-job-description p {
  margin: 0.5rem;
  letter-spacing: 0.15rem;
  color: white;
}
.Resume_bullet-point {
  color: white;
}
@media screen and (max-width: 480px) {
  .Resume-subContainer {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .Resume-button-container {
    margin: 0;
  }

  .Resume-job-container {
    margin: 0;
  }
  .Resume-job-description p {
    margin: 0;
    letter-spacing: 0.2rem;
  }
  .Resume-job-description p {
    margin: 0;
    padding: 1rem 0.5rem;
    letter-spacing: 0.15rem;
    color: white;
  }
  .Resume_bullet-point {
    display: none;
  }
}
