.cardGame-title {
  text-align: center;
  color: rgb(255, 255, 255);
}
.cardGame-underline {
  width: 100px;
  height: 5px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
}
.cardGame-video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#cardGame-video {
  max-width: 70%;
}
