.Mcdonald-cat-container {
  background-color: white;
}
.Mcdonald-cat-button {
  font-size: 18px;
  border: none;
  background: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;
}
.Mcdonald-cat-button img {
  float: left;
  width: 100px;
  margin: 0;
  padding: 0;
}
.button-reset-container {
  border: 1px solid grey;
  overflow: hidden;
  background-color: white;
}
.button-container {
  border: 1px solid grey;
  margin-top: 1rem;
  background-color: white;
  overflow: hidden;
}

.button-reset-container,
.button-container {
  border-radius: 5px;
}

.button-container button {
  display: flex;

  align-items: center;
  font-size: 18px;
  background-color: white;
  border: none;
}

.active_choice {
  background-color: white;
}
.active_bold {
  font-weight: bolder;
}

@media screen and (max-width: 480px) {
  .button-reset-container {
    border: none;
    border-top: 1px solid rgba(128, 128, 128);
  }
  .button-container {
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128);
    margin-top: 0.2rem;
  }
  .button-reset-container,
  .button-container {
    border-radius: 0;
  }
}
