.Family-title {
  text-align: center;
  font-size: 54px;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.familyImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.family-message-container {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.family-message-title {
  text-align: center;
  background-color: white;
}
.family-message-content {
  padding-right: 5rem;
  background-color: white;
}
.family-message-button {
  background-color: #ffbc0d;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-left: 0;
  border: none;
  cursor: pointer;
}
