.Footer_container {
  padding-top: 2rem;
}
.Footer_container h1,
.Footer_container p {
  color: rgb(255, 255, 255);
}
.Footer_container h1 {
  margin-bottom: 0.5rem;
}
.Footer_container p {
  font-size: 18px;
  line-height: 30px;
}
.Footer_first_subcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Footer_para_disc {
  font-style: italic;
}

.Footer_about_container,
.Footer_social_container {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.Footer_social_link {
  color: white;
  text-decoration: none;
}

.Footer_copyright {
  text-align: center;
  margin: 1rem 0;
}
/* Mobile Devices */
@media screen and (max-width: 480px) {
  .Footer_copyright p {
    font-size: 15px;
  }
}
