.Hero_Container {
  height: 564px;
}
.Hero_Title_Container {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.Hero_Title {
  color: rgb(255, 255, 255);
  font-size: 65px;
  font-weight: 800;
  line-height: 72px;
}
.Hero_desc {
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 40px;
}
.Hero_button_container {
  margin: 2rem 0;
}
.Hero_button {
  color: rgb(255, 255, 255);
  font-size: 28px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 4rem;
  cursor: pointer;
}
