.Nav_Container {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
}
.Nav_Icon {
  color: rgb(238, 225, 225);
}
.Nav_Icon:hover {
  color: rgb(255, 255, 255);
}

.Nav_List_Container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Nav_List_Container li {
  display: inline;

  font-size: 1.9rem;
  margin-right: 1.5rem;
}

.Nav_List_Container li a {
  color: rgb(238, 225, 225);
  text-decoration: none;
}
.Nav_List_Container li a:hover {
  color: rgb(255, 255, 255);
}
