.Project-title {
  color: white;
  text-align: center;
  font-size: 48px;
}
.Project-underline {
  width: 60px;
  height: 4px;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.Project-heading {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 1.5rem;
}

.Project-container {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  grid-auto-rows: column;
  margin: 1rem;
}
.Project-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
}
.Project-item h1 {
  font-size: 40px;
}
.Project-item p {
  font-size: 18px;
}
.Project-to-project-btn {
  background-color: aqua;
  border: none;
  width: 100%;
  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.Project-to-project-btn:hover {
  background-color: rgb(12, 104, 104);
}
.Project-github-icon {
  border: none;
}
.Project-github-icon a {
  color: white;
  border: none;
  font-size: 18px;
  text-decoration: none;
}
.Project-github-icon a:hover {
  font-style: italic;
}
.Project-footer-wrapper {
  margin-top: 2rem;
}
