.Stacks-container {
  color: rgb(255, 255, 88);
  text-align: center;
  width: 100%;
}
.Stacks-title {
  font-size: 4rem;
}

.Stacks-heading {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.Stacks-icons {
  font-size: 3.5rem;
  margin: 1rem 5rem;
}
.Stacks-icon-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem;
}

@media screen and (max-width: 800px) {
  .Stacks-icon-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem;
  }
  .Stacks-icons {
    font-size: 3.5rem;
    margin: 0;
  }
}
