.Timeline-container {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Timeline-title {
  font-size: 65px;
}
.Timeline-wrapper {
  width: 90%;
}
.Timeline-item {
  width: 100%;
  padding: 3rem;
  position: relative;
}
.Timeline-item:nth-child(even) {
  border-bottom: 2px dashed rgb(80, 80, 80);
  border-right: 2px dashed rgb(80, 80, 80);
  border-bottom-right-radius: 1rem;
}
.Timeline-item:nth-child(odd) {
  border-left: 2px dashed rgb(80, 80, 80);
  border-bottom: 2px dashed rgb(80, 80, 80);
  border-bottom-left-radius: 1rem;
}
.Timeline-item p {
  letter-spacing: 0.1rem;
  font-size: 24px;
}
.Timeline-heading {
  font-size: 24px;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}
.Timeline-left-block {
  /*The following five lines makes an arrowhead pointing up*/
  width: 2rem;
  height: 2rem;
  background-color: rgb(80, 80, 80);
  /* background-color: rgb(255, 255, 88); */
  position: absolute;
  top: 50%;
  left: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
.Timeline-up-arrow {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid rgb(80, 80, 80);
  position: absolute;
  top: 0;
  left: -1rem;
}
.Timeline-right-block {
  width: 2rem;
  height: 2rem;
  background-color: rgb(80, 80, 80);
  position: absolute;
  top: 50%;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
