:root {
  /* Font color */
  --font-color: rgb(0, 0, 0);
  /* Hover color */
  --hover-color: rgb(0, 0, 0);
  /*Navbar icon size */
  --icon-size: 2.5rem;

  --button-color: #1976d2;
  --button-color-hover: rgb(17, 82, 147);
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #161616;
  font-family: Arial, Helvetica, sans-serif;
}

html body {
  height: 100%;
  width: 100%;
} */
