.Accordion-Container {
  font-family: FSAlbert-Regular, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  color: #333;
  line-height: 1.5;
  font-weight: normal;
  margin: 80px;
}

.Accordion-container-title {
  text-align: center;
  color: #ffff00;
}
.Accordion-container-heading {
  font-size: 20px;
  margin-top: 3rem;
  color: #ffff00;
}

.Accordion-underline {
  width: 50px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eb0029;
}

.accordion-title {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
  font-size: 1.25rem;
  cursor: pointer;
  color: #ffff00;
}
.accordion-title .active {
  border: none;
  border-left: 4px solid #83bfba;
  padding-left: 15px;
  color: #ffff00;
}

.accordion-title h3 {
  margin: 0.5rem;
  color: #ffff00;
}

.accordion-content p {
  margin: 0;
  padding: 0rem 2.5rem;
  color: #ffff00;
}
